[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
django-admin-tools = "*"
jinja2 = "*"
django-jinja = "*"
pytils = "*"
urlparse3 = "*"
parse = "*"
selenium = "==3.8.0"

[dev-packages]

[requires]
python_version = "3.10"
